<h3> Upload file**  </h3>
<br>
<input type="file" (change)="changeEvent($event)" accept=".vtt" />    
<br>
<table class="minimalistBlack" *ngIf="result.length > 0">    
  <thead>    
      <tr>    
        <th>Line No </th>    
        <th>Start Time </th>    
        <th>End Time </th>    
        <th>Text </th>    
        <th>Action </th>       
      </tr>    
  </thead> 

  <tbody>  
    <tr *ngFor="let item of result;let i = index;">    
      <td> <span>{{i+1}}</span> </td>    
      <td> <span>{{item.startL}}</span> </td>    
      <td> <span>{{item.endL}}</span> </td>    
      <td> <span>{{item.subtitle}} {{item.subtitle_}}</span> </td> 
      <td><samp style="cursor: pointer;" (click)="deleteEvent(item)"> <b>Delete Line </b></samp></td>   
    </tr>    
  </tbody>    
</table>  

